#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background: url('../src/images/back.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.cuySIo {
  margin-top: -0.8rem !important;
}

/* matches style */

#match-id-47{
  transform: translate(0px, 88px);
}

#match-id-49{
  transform: translate(0px, 238px);
}

#match-id-51{
  transform: translate(0px, 406px);
}

#match-id-53{
  transform: translate(0px, 556px);
}

#match-id-63{
  transform: translate(0px, 156px);
}

#match-id-65{
  transform: translate(0px, 486px);
}

#match-id-71{
  transform: translate(0px, 306px);
}

#match-id-75 {
  transform: translate(0px, -2906px);
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.new-single div svg {
  width: 100% !important;
  height: 100% !important;
}

